.searchPage {
    padding: 30px;
}


  .title {
    font-size: 32px;
    margin-bottom: 32px;
    color: #1a1a1a;
  }

  .resultsList {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 20px;
    margin-left: 20px;
  }
  
  .resultsList a {
    text-decoration: none;
    color: inherit;
  }
  
  .breadcrumbs {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 30px;
    font-size: 14px;
    color: #666;
    margin-top: 30px;
    padding-left: 35px;
  }
  
  .breadcrumbs a {
    color: #666;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .breadcrumbs a:hover {
    color: #FF006E;
  }
  
  .separator {
    color: #999;
  }