.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #080423;
    height: 80px;
    padding: 0 60px 0 90px;
}

.logo {
    color: #FF3D81;
    width: 240px;
    height: 60px;
    font-family: Bayon;
    font-size: 40px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 0.09em;
}

.searchInput {
    width: 400px;
    height: 40px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 60px;
    padding: 10px 20px;
}