* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Inter", "sans-serif";
}

#root {
  margin: 0 auto;  
  background-color: #f5f5f5;
  max-width: 1440px;
  width: 100%;    
}
